[Unit]
Description=Hive Script Service
After=network.target

[Service]
Type=simple
ExecStart=/bin/bash /home/cloudera/script_automatisation/main.sh
Restart=always
RestartSec=5
User=cloudera
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

[Install]
WantedBy=multi-user.target
